h1 {
  size: 3rem;
  text-align: center;
  line-height: 1.5em;
  color: #5bba47;
}

body{
  background-color: #000;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

input {
  background-color: #fff;
  color: #5bba47;
  border: 3px #5bba47 solid;
}

label {
  color: #5bba47;
}
